@import url('https://fonts.googleapis.com/css?family=Merriweather|Lato|Montserrat|Playfair+Display|Raleway&display=swap');
/*General Stuff*/
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
h2 {
    color:#663333;
    text-align: center;
    font-family: Merriweather;
    margin: 5vw 10vw 0;
    display: block;
}
p{
    font-family: Montserrat;
    color:#314247;
    text-align: center;
}
h4{
    padding: 30px 100px 0px 100px;
    font-family: Merriweather;
    color:#647973;
    text-align: center;
}
/*Navbar*/
.navbar {
    margin-bottom: 0;
    background-color: #CC6666;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #CC6666 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border-color: transparent;
    padding:0;
    margin:5;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
}
/*Home*/
.parallax{
    background:rgb(0,0,0,0.3);
    height: 100vh;
    padding:50vh 0;
}
.parallaxheader{
    background:rgb(0,0,0,0.3);
    height: 50vh;
}
.title{
    margin:0px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: Playfair Display;
    font-size: 70px;
    font-weight: bold;
}
.subtitle{
    margin:0px;
    padding: 0px;
    text-align: center;
    color: #fff;
    font-family: Raleway;
    font-size: 20px;
    max-width:100%;
}
.titleheader{
    margin:0px;
    padding: 150px 0px 0px 0px;
    text-align: center;
    color: #CC6666;
    font-family: Playfair Display;
    font-size: 70px;
    font-weight: bold;
}
.subtitleheader{
    margin:0px;
    padding: 0px;
    text-align: center;
    color: #CC6666;
    font-family: Raleway;
    font-size: 20px;
    max-width:100%;
}

/*About*/
.heading{
    margin:0px;
    padding: 30px 5vw 2vh;
    font-size: 26px;
    text-align: left;
    width:50vw;
}
div.about{
    background-color: white;
    padding: 50px 20vw;
    width:100%;
    float: left;
}
.about {
    padding: 0px 5vw 2vh;
    text-align: left;
}
.profile {
    height: 45vh;
    display: block;
    border-radius: 100%;
    padding: 2vw;
    float: right;
    top: 
}
.btn{
    font-family: Lato;
    padding: 10px;
    color:white;
    background-color: #CC6666;
    border-width: 0px;
    border-radius: 3px;
    margin: 0px 0 30px;
    text-align: center;
    width:100%;
    border: transparent solid;
}
.btn:hover {
    color:#CC6666;
    background-color: white;
    border:#CC6666 solid;
}
.btn:focus {
    outline:none;
}
.btn:active {
    
}
.btn-container{
    width: 100%;
    position:relative;
    padding: 0px 40%;
    float: left;
}
/*Skills*/
div.skills{
    float: left;
    width:100%;
    padding: 5vh max(10vw, calc(50vw - 450px));
    background-color: #F8F3F2;
}
h4.skills {
    padding: 2vh 2vw;
    font-size: calc(18px + .2vw);
}
div.gen, div.lang,div.tools {
    width:33.3%;
    float: left;
}
ul.skills {
    font-family: Raleway, sans-serif;
    font-size:calc(15px + .1vw);
    color: #314247;
    list-style-type: "\25c8  "; 
    padding: 0 5vw;
    text-align: left;
}
/*Numbers*/
div.numbers {
    font: 800 40px Playfair Display;
    float: left;
    width: 100%;
    padding-bottom: 10vh;
}
h2.numbers {
    color: #314247;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
div.nums, div.labels {
    margin: auto;
    width: 100vw;
    max-width: 800px;
}
div.labels {
    text-align: center;
    font-size: 20px;
}
div.num, div.label{
    width: 33.33%;
    text-align: center;
    float: left;
}
/*Carousel*/
.carouselsection {
    float: left;
    width: 100%;
    background-color: #F8F3F2;
    min-height: 40vh;
}
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #CC6666;
  }
  .carousel-indicators li {
    border-color: #CC6666;
  }
  .carousel-indicators li.active {
    background-color: #CC6666;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 0px 0 70px 0;
    font-family: Montserrat;
    color:#314247;
  }
  .item span {
    font-style: normal;
  }
/*Footer*/
div.footer {
    float: left;
    padding: 10vh 10vw 0;
    background-color: #CC6666;
    width: 100%;
    color: #fff;
}
div.columns {
    float: left;
}
.col1 {
    width: 20%;
    float: left;
    padding: 0 10px;
}
img.footerlogo {
    max-width: 200px;
    width: 100%
}
.col2 {
    width: 20%;
    float: inherit;
}
h5.title {
    font: 15px Raleway;
    padding: 1vh 5vw 15px;
    text-align: left;
    color: #CCAAA6;
}
a.footer {
    font: 15px Raleway;
    padding: 0 5vw;
    text-align: left;
    color: white;
    text-decoration: none;
}
a.footer:hover {
    font: 15px Raleway;
    padding: 0 5vw;
    text-align: left;
    color: #663333;
}
.icons {
    margin: 0 0 0 5vw;
}
#icon {
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
    padding: 1vh 1.5vw 1vh 0;
}
#icon:hover, #icon:active {
    color:#663333;
}
.col3 {
    float: left;
    width: 30vw;
}
p.footer {
    font: 15px Raleway;
    padding: 0 0 0 5vw;
    text-align: left;
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}
input.email {
    font: 15px Raleway;
    margin: 0 5vw;
    text-align: left;
    background-color: transparent;
    border: 0;
}
input.email::placeholder {
    color: white;
}
input.email:focus {
    outline: none;
}
hr.footer {
    margin: 0 5vw;
}
div.copyright{
    float: left;
    width:100%;
    padding-top: 10vh;
}
p.copyright {
    color: #CCAAA6;
    text-align: left;
    float: left;
    width: 40%;
}
a.credits {
    font-family: Montserrat;
    text-decoration: none;
    color: #CCAAA6;
    text-align: right;
    float: right;
    width: 40%;
}
/*Responsive*/
@media only screen and (max-width:1000px) {
    .heading{
        text-align: center;
        width:100%;
    }
    .profile {
        float: none;
        margin: auto;
    }
    .about {
        text-align: center;
        width:100%;
    }
    img.footerlogo {
        width:100%;
        display: block;
        margin: auto;
    }
    .col1 {
        width: 100%;
    }
    .col2 {
        width: 30%;
    }
}
@media only screen and (max-width:800px) {
  /* For tablets: */
    .about {
        width: 100%;
        margin:0px;
        padding:10px;
    }
    .btn{
        min-width: 100px;
    }
    div.gen, div.lang,div.tools {
        width:100%;
        padding: 0 20vw;
    }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
    .about, p,h4 {
        width: 100%;
        margin:0px;
        padding:10px;
    }
    div.about {
        padding: 10vh 0;
    }
    .btn{
        min-width: 100px;
    }  
    .btn-container {
        padding: 0 20vw;
    }
    div.gen, div.lang,div.tools {
        padding: 0 5vw;
    }
    div.num{
        width: 51%;
        text-align: center;
        padding: 5px;
    }
    div.label {
        float: none;
        width:100%;
        height: 100%;
        padding: 1px;
        text-align: left;
    }
    .col2 {
        width: 100%;
    }
    p.footer, a.footer {
        display: block;
    }
    .col3 {
        width: 100%;
    }
}
